@{
    ViewData["Title"] = "Access denied";
}
<br />
<div class="text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
    <img src="~/lib/Images/noaccess.png" style="height:300px;width=300px">
</div>

