@model DraftCustomer
@inject UserManager<ApplicationUser> userManager;

@{
    ViewData["Title"] = "Create Draft Customer";
    var userid="";
    if (User.Identity.IsAuthenticated)
    {
       userid  = userManager.GetUserId(User);
    }
}

<div class="row">
    <div class="col-lg-4 col-md-3 col-sm-3 col-2"></div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-8">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-3 text-center">Add New Draft Customer</h4>
                <hr />
                <form asp-action="Create" autocomplete="off">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ModifiedBy" value="@userid" />

                    <div class="col-12">
                        <div class="form-floating">
                            <input class="form-control" asp-for="ClientName" placeholder="Client Name" />
                            <label for="ClientName">Client Name</label>
                        </div>
                        <span asp-validation-for="ClientName" class="text-danger"></span>
                    </div>

                    <div class="col-12">
                        <div class="form-floating">
                            <input class="form-control" asp-for="MobileNo" placeholder="Mobile No" />
                            <label for="MobileNo">Mobile No</label>
                        </div>
                        <span asp-validation-for="MobileNo" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input class="form-control" asp-for="Remarks" placeholder="Remarks" />
                            <label for="Remarks">Remarks</label>
                        </div>
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input class="form-control" asp-for="NextFollowupDate" placeholder="Next Followup Date" />
                            <label for="NextFollowupDate">Next Followup Date</label>
                        </div>
                        <span asp-validation-for="NextFollowupDate" class="text-danger"></span>
                    </div>

                    <div class="text-center mt-3">
                        <div class="d-grid gap-2 d-md-block">
                            <button type="submit" class="btn btn-primary btn-lg">Save</button>
                            <a class="btn btn-primary btn-lg" asp-action="Index">List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
    <div class="col-3"></div>
    <div class="col-5 col-offset-1">
        <div class="box box-success">
            <div class="box-header" style="border-bottom:1px solid black">
                <p>Add New Draft Customer</p>
            </div>
            <div class="box-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ModifiedBy" value="@userid"/>
                    <div class="form-group row">
                        <label asp-for="ClientName" class="control-label col-4">Client Name</label>
                        <div class="col-8">
                            <input asp-for="ClientName" class="form-control" />
                            <span asp-validation-for="ClientName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="MobileNo" class="control-label col-4">Mobile No</label>
                        <div class="col-8">
                            <input asp-for="MobileNo" class="form-control" />
                            <span asp-validation-for="MobileNo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Remarks" class="control-label col-4">Remarks</label>
                        <div class="col-8">
                            <input asp-for="Remarks" class="form-control" />
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="NextFollowupDate" class="control-label col-4">Next Followup Date</label>
                        <div class="col-8">
                            <input asp-for="NextFollowupDate" class="form-control" />
                            <span asp-validation-for="NextFollowupDate" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="form-group text-center">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a type="button" class="btn btn-info" asp-action="Index"><li class="fa fa-list-ul"></li> List </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
*@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
