@{
    ViewData["Title"] = "Show Booking List";
}


<div class="row mb-2">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 bg-white">
        <div class="form-group">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="display: flex;justify-content: space-between;margin-left: 18px;">
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <h3 class=" pl-1 text-info" style="font-weight:600"> Daily Booking List</h3>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-6 col-5 text-end">
                    <label id="totalSlot" class="text-maroon font-weight-bold">Total Slot : </label>
                    <label id="totalbookings" class="text-danger font-weight-bold">   Total Booked : </label>
                    <label id="bookingRatio" class="text-green font-weight-bold">  Booking Ratio:</label>
                    <label id="totalbookingAmount" class="text-blue font-weight-bold mr-2"> Total Booking Amt:</label>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group row pt-1 pb-3" style="margin-left: 25px;margin-right:5px;opacity:1 !important;">
            <div class="col-lg-2 col-md-6 col-sm-12 col-6">
                <div>
                    <label for="BookingDateFrom" class="form-label">Date From</label>
                    <input type="date" id="BookingDateFrom" name="BookingDateFrom" class="form-control" />
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 col-6">
                <div>
                    <label for="BookingDateTo" class="form-label">Date To</label>
                    <input type="date" id="BookingDateTo" name="BookingDateTo" class="form-control" />
                </div>
            </div>
            <div class="col-lg-1 col-md-12 col-sm-12 col-12">
                <div class="form-group d-grid gap-2 d-md-block">
                    <br />
                    <button type="button" id="btnshowBookingList" class="btn btn-success">Show</button>
                </div>
            </div>
        </div>
        <div class="form-group row pt-1 pb-3" style="margin-left: 25px;margin-right:5px;opacity:1 !important;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="table-responsive">
                    <table id="bookinginfo" class="table table-bordered cell-border compact hover stripe dataTable" style="width:100%">
                        <thead>
                            <tr>
                                <th>Working Dt</th>
                                <th>Team</th>
                                <th>Shift</th>
                                <th>Status</th>
                                <th>Service</th>
                                <th>Mobile No</th>
                                <th>Organization Name</th>
                                <th>Address</th>
                                <th>Amount</th>
                                <th>Note</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function () {

            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!

            var currentDate = today.getFullYear() + "-" + mm + "-" + dd;
            $('#BookingDateFrom').val(currentDate);
            $('#BookingDateTo').val(currentDate);

            var dateFrom = currentDate;
            var dateTo = currentDate;
            var totalbooked = 0;
            var bookingAmt = 0;
            $.ajax({
                type: "GET",
                url: "/Booking/ShowBookingData",
                data: { dateFrom: dateFrom, dateTo: dateTo },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var bookingTable = $('#bookinginfo tbody');
                    bookingTable.empty();
                    $(result).each(function (index, data) {
                        var linkShiftOrCancelBooking = "";
                        var trDate = "";
                        if (data.trDate == null) {
                            trDate = ""
                        } else {
                            trDate = data.trDate.substring(0, 10);
                        }
                        var bookingNote = "";
                        if (data.bookingNote == null) {
                            bookingNote = "";
                        } else {
                            bookingNote = data.bookingNote;
                        }

                        if (data.name != "") {
                            totalbooked += 1;
                            bookingAmt += parseInt(data.agreeAmount);
                            linkShiftOrCancelBooking = '<a target="_blank" href="/Followup/GetFollowupsByCustId?customerId=' + data.customerId + '&followupId=' + data.followupId + '" target="_blank">Details</a>';
                            linkShiftOrCancelBooking += ' | ' + '<a target="_blank" href="/Booking/ShiftBooking?bookingId=' + data.bookingId + '">Shift</a>';
                            linkShiftOrCancelBooking += ' | ' + '<a target="_blank" href="/Booking/CancelBooking?bookingId=' + data.bookingId + '">Cancel</a>';
                            linkShiftOrCancelBooking += ' | ' + '<a target="_blank" target="_blank" href="/Booking/UpdateBookingAmount?followupId=' + data.followupId + '">Update</a>';
                            linkShiftOrCancelBooking += ' | ' + '<a href="#" onclick="MakeDueForBooking(\'' + data.followupId + '\')">Due</a>';
                        }
                        bookingTable.append('<tr><td>' + trDate + '</td><td>' + data.teamName + '</td><td>' +
                            data.shiftName + '</td><td>' + data.status + '</td><td>' + data.serviceName + '</td><td>' + data.mobileNo + '</td><td>' +
                            data.name + '</td><td>' + data.address + '</td><td>'
                            + data.agreeAmount + '</td><td>' + bookingNote + '</td><td>' + linkShiftOrCancelBooking + '</td></tr>');
                    });
                    bookingTable.append('<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>Total Amount</td><td>'
                        + Math.round(bookingAmt) + '</td><td></td><td></td></tr>');

                    $('#totalSlot').html('Total Slot : ' + result.length);
                    $('#totalbookings').html(' | Total Booked : ' + totalbooked);
                    $('#bookingRatio').html(' | Booking Ratio : ' + Math.round((totalbooked * 100) / result.length) + '%');
                    $('#totalbookingAmount').html(' | Total Booking Amt : ' + Math.round((bookingAmt)));
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    // handle error
                }
            });

            $('#btnshowBookingList').click(function () {
                var dateFrom = $('#BookingDateFrom').val();
                var dateTo = $('#BookingDateTo').val();
                var totalbooked = 0;
                var bookingAmt = 0;
                $.ajax({
                    type: "GET",
                    url: "/Booking/ShowBookingData",
                    data: { dateFrom: dateFrom, dateTo: dateTo },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        var bookingTable = $('#bookinginfo tbody');
                        bookingTable.empty();
                        $(result).each(function (index, data) {
                            var linkShiftOrCancelBooking = "";
                            var trDate = "";
                            var bookingNote = "";
                            if (data.bookingNote == null) {
                                bookingNote = "";
                            } else {
                                bookingNote = data.bookingNote;
                            }

                            if (data.trDate == null) {
                                trDate = ""
                            } else {
                                trDate = data.trDate.substring(0, 10);
                            }

                            if (data.name != "") {
                                totalbooked += 1;
                                bookingAmt += parseInt(data.agreeAmount);
                                linkShiftOrCancelBooking = '<a target="_blank" href="/Followup/GetFollowupsByCustId?customerId=' + data.customerId + '&followupId=' + data.followupId + '" target="_blank">Details</a>';
                                linkShiftOrCancelBooking += ' | ' + '<a target="_blank" href="/Booking/ShiftBooking?bookingId=' + data.bookingId + '">Shift</a>';
                                linkShiftOrCancelBooking += ' | ' + '<a target="_blank" href="/Booking/CancelBooking?bookingId=' + data.bookingId + '">Cancel</a>';
                                linkShiftOrCancelBooking += ' | ' + '<a target="_blank" href="/Booking/UpdateBookingAmount?followupId=' + data.followupId + '">Update</a>';
                                linkShiftOrCancelBooking += ' | ' + '<a href="#" onclick="MakeDueForBooking(\'' + data.followupId + '\')">Due</a>';
                            }
                            bookingTable.append('<tr><td>' + trDate + '</td><td>' + data.teamName + '</td><td>' +
                                data.shiftName + '</td><td>' + data.status + '</td><td>' + data.serviceName + '</td><td>' + data.mobileNo + '</td><td>' +
                                data.name + '</td><td>' + data.address + '</td><td>'
                                + data.agreeAmount + '</td><td>' + bookingNote + '</td><td>' + linkShiftOrCancelBooking + '</td></tr>');
                        });
                        //bookingTable.append('<tr><td></td><td></td><td></td><td></td><td></td><td></td><td>' + 'Total Amount' + '</td><td>'
                        //    + Math.round(bookingAmt) + '</td><td></td></tr>');

                        bookingTable.append('<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>Total Amount</td><td>'
                            + Math.round(bookingAmt) + '</td><td></td><td></td></tr>');

                        $('#totalSlot').html('Total Slot : ' + result.length);
                        $('#totalbookings').html(' | Total Booked : ' + totalbooked);
                        $('#bookingRatio').html(' | Booking Ratio : ' + Math.round((totalbooked * 100) / result.length) + '%');
                        $('#totalbookingAmount').html(' | Total Booking Amt : ' + Math.round((bookingAmt)));
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        // handle error
                    }
                });
            });

        });

        function MakeDueForBooking(followupId) {
            if (confirm('Are You Sure Make Due?')) {
                $.ajax({
                    url: '/Booking/MakeDueForBooking',
                    data: { 'followupId': followupId },
                    type: 'POST',
                    datatype: JSON,
                    success: function (data) {
                        alert(data);
                        //location.reload(true);
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
                return false;
            };
        }

    </script>
}
