@model ApplicationCore.Entities.Team

@{
    ViewData["Title"] = "Update Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4 col-offset-3">
        <div class="box">
            <div class="box-header" style="border-bottom:1px solid black">
                <p>Update Team</p>
            </div>
            <div class="box-body">
                <form asp-action="Update" autocomplete="off">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="Name" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="TeamLeaderName" class="col-sm-2 control-label">Team Leader Name</label>
                        <div class="col-sm-10">
                            <input asp-for="TeamLeaderName" class="form-control" />
                            <span asp-validation-for="TeamLeaderName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Status" class="col-sm-2 control-label">Status</label>
                        <div class="col-sm-10">
                            <select asp-for="Status" class="form-control">
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Update" class="btn btn-primary" />
                        <a type="button" class="btn btn-info" asp-action="Index"><li class="fa fa-list-ul"></li> List </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
