@inject SignInManager<ApplicationUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRM-@ViewData["Title"]</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/datetimepicker.css" rel="stylesheet" />
    <link href="~/css/main.min.css" rel="stylesheet" />
    <link href="~/css/adminlte.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fontawesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
        .footer[b-lzldzk1rll] {
            line-height: 10px !important;
        }

        p {
            margin-bottom: 0px !important;
        }

        .row {
            --bs-gutter-x: 0.5rem !important;
        }

        .btn {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            padding: 1px 15px;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>CRM MIS <span><img src="~/lib/Images/Background.png" alt="Header Image" width="80px" height="50px"></span></h3>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="/home/index">Home</a>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Settings</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="ServiceType" asp-action="Index">Service List</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Employee" asp-action="Index">Employee</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Team" asp-action="Index">Team</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="City" asp-action="Index">City</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Area" asp-action="Index">Area</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="SubArea" asp-action="Index">Sub Area</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="ContactBy" asp-action="Index">Contact</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Brand" asp-action="Index">Brand List</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Designation" asp-action="Index">Designation</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Customer</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="CustomerFollowup" asp-action="Index">Customer & Followup</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Followup" asp-action="Index">Daily Followup</a>
                        </li>
                        @*<li>
                        <a class="nav-link" asp-area="" asp-controller="Booking" asp-action="Index">Add Booking</a>
                        </li>*@
                        <li>
                            <a class="nav-link" asp-area="" target="_blank" asp-controller="Booking" asp-action="ShowBookingInfo">Booking Info</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="ServiceFeedback" asp-action="Index">Service Feedback</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="ServiceFeedback" asp-action="DailyComplainList">Complain Feedback</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageUser" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">User</a>
                    <ul class="collapse list-unstyled" id="pageUser">
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Create User</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Administration" asp-action="CreateRole">Create Role</a>
                        </li>
                    </ul>
                </li>

                @if (signInManager.IsSignedIn(User))
                {
                    <li class="nav-link">
                        <form method="post" asp-controller="Account" asp-action="Logout">
                            <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                Logout @User.Identity.Name
                            </button>
                        </form>
                    </li>
                }

            </ul>
        </nav>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>


    @*    <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>
    *@

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.datatables.js"></script>
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <script src="~/lib/jquery/dist/jquery-ui.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function() {
            $("#sidebarCollapse").on('click', function() {
                $("#sidebar").toggleClass('active');
            });
        });
    </script>
</body>
</html>
